.file-tree {
    width: 100%;
    position: relative;
}

.file-tree > .actions {
    position: absolute;
    right: 0;
    top: 0;
}

.file-tree .action {
    display: flex;
    align-items: center;
}

.file-tree > .names {
    width: 100%;
    overflow: auto;
}

.file-tree > .names .action {
    opacity: 0;
    pointer-events: none;
}

.file-tree > .names > div {
    display: flex;
    align-items: center;
}