html,
body {
    margin: 0;
    background-color: #262626;
    color: white;
    font-family: sans-serif
}

body {
    width: 250px;
    height: max-content;
    max-height: 400px;
}

img {
    max-height: 20px;
    max-width: 20px;
    object-fit: contain;
}
